@model SummerProject.Models.Author

@{
    ViewData["Title"] = "Delete Author";
}

<h2>Delete Author</h2>

<h4>Are you sure you want to delete this Author?</h4>
<div>
    <h5>@Model.Name</h5>
</div>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" >Delete</button>
    <a asp-action="Index" >Cancel</a>
</form>
