@model SummerProject.Models.Author

@{
    ViewData["Title"] = "Author Details";
}

<h2>Author Details</h2>

<div>
    <h4>@Model.Name</h4>

    <h5>Books:</h5>
    @if (Model.Books.Any())
    {
        <ul>
            @foreach (var book in Model.Books)
            {
                <li>@book.Title</li>
            }
        </ul>
    }
    else
    {
        <p>No books found for this author.</p>
    }
</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" >Edit</a>
    <a asp-action="Index" >Back to List</a>
</p>
