@model SummerProject.Models.Customer

<h2>Create Customer</h2>

<form asp-action="Create" method="post">
    <div>
        <label asp-for="FullName"></label>
        <input asp-for="FullName"  />
        <span asp-validation-for="FullName"></span>
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email"  />
        <span asp-validation-for="Email"></span>
    </div>
    <button type="submit">Save</button>
</form>
