@model List<SummerProject.Models.Category>

<h2>Categories</h2>

<p>
    <a asp-action="Create" >Create New Category</a>
</p>

<table >
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Name</td>
            </tr>
        }
    </tbody>
</table>
